@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Luckiest+Guy&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    color: black;
}

.heading {
    padding-top: 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading h1 {
    letter-spacing: 10px;
    font-family: "Luckiest Guy";
    font-size: 65px;
    font-weight: 500;
    border-top: 5px solid black;
    border-bottom:5px solid black;
    border-radius: 10px;
    padding: 10px 50px;
}

.cont_one {
    display: flex;
    height: 350px;
    position: relative;
    margin-top: 30px;
}

.cont_one_front {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cont_one_front .intro {
    letter-spacing: 5px;
    font-size: 30px;
    font-family: "Open Sans";
    font-weight: 700;
    padding-top: 5%;
    margin-left: 10%;
    margin-bottom: 10px;
}

.cont_one_front .name {
    font-size: 45px;
    font-family: "Open Sans";
    font-weight: 700;
    letter-spacing: 5px;
    margin-left: 40px;
    padding: 30px 30px;
}

.content {
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans";
    font-style: italic;
    margin-top: 30px;
    margin-left: 10px;
    padding: 20px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 8px;
}

.cont_one_end {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.cont_one_end .image {
    border-left: 20px solid rgb(185, 185, 185);
    border-right: 20px solid rgb(185, 185, 185);
    border-bottom: 20px solid black;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

.cont_one_end .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.firstbuttons {
    margin-left: 150px;
    margin-top: 60px;
    display: flex;
    padding-bottom: 50px;
}

.firstbuttons button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 100px;
    margin: 0px 45px;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 600;
    font-family: "Open Sans";
    text-transform: uppercase;
    min-width: 90px;
}

.firstbuttons button:hover {
    background-color: red;
    transition: 0.5s ease;
}


/* ======================================================================================================================== */

@media (max-width: 480px) {


    .heading {
        padding-top: 0px;
        position: relative;
        width: 100vw;
        margin-top: 20px;
    }

    .heading h1 {
        font-size: 43px;
        letter-spacing: 4px;
        margin-left: 10px;
        padding: 0;
        border: none;
    }


    .cont_one {
        flex-direction: column-reverse;
        height: 488px;
        margin-top: 50px;
    }

    .cont_one_front {
        margin-bottom: -35px;
    }


    .cont_one_front .intro {
        font-size: 28px;
        letter-spacing: normal;
        margin-top: 90px;
        margin-left: 50px;
        padding: 0px;
    }

    .cont_one_front .name {
        letter-spacing: normal;
        font-size: 25px;
        margin-left: 20px;
        margin-top: 5px;
        padding: 0px;
        width: 100vw
    }

    .content {
        margin-top: 50px;
        margin-bottom: 60px;
        position: relative;
        left: 20px;
        right: 20px;
        padding: 0px;
        font-size: 17px;
        width: 85vw;
        border: none;
    }

    .cont_one_end {
        height: 175px;
        width: 100vw;
        justify-content: right;
    }

    .cont_one_end .image {
        border: none;
        margin-right: 30px;
        margin-top: 0px;
        height: 250px;
        width: 300px;
    }

    .cont_one_end .image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .firstbuttons {
        height: 30px;
        width: 80vw;
        margin: 50px 45px;
        display: flex;
        justify-content:space-evenly;
    }

    .firstbuttons button {
        padding: 35px 20px;
        font-size: 14px;
        font-weight: 700;
        margin: 0px 30px;
        border-radius: 25px;
        letter-spacing: normal;
        min-width: 90px;
    }
}