.fourthpage {
    height: 100vh;
    /* background-color: black; */
    /* color: white; */
}

.fourheading {
    font-size: 40px;
    font-weight: 500;
    font-family: "Luckiest Guy";
    letter-spacing: 2px;
    padding-top: 70px;
    margin-left: 50px;
}

.contactcont {
    margin: 50px 30px;
}

.contact-form {
    width: 500px;
    /* background-color: black; */
    /* color: white; */
    border-radius: 8px;
    font-family: "Open Sans";
}

.contact-form label {
    display: block;
    margin: 20px 0px 10px 0px;
    font-size: 20px;
    font-weight: 700;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
}

::placeholder {
    color: black;
    font-weight: 500;
}

.contact-form button {
    display: block;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
    padding: 10px 15px;
    background: black;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.contact-form button:hover {
    background-color: red;
}

/* ================================================================================================================== */

@media (max-width: 480px) {
    .fourheading {
        margin-left: 30px;
    }

    .contact-form {
        width: 300px;
    }

    .contact-form label {
        letter-spacing: normal;
        font-size: larger;
        font-weight: 900;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 15px;
    }

    .contact-form button {
        letter-spacing: normal;
        margin-left: 75px;
        border-radius: 20px;
        padding: 5px 10px;
    }

    .contact-form button:hover {
        transition: none;
    }


}