*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: black;
    font-family: "Open Sans";
    display: flex;
    height: 70px;
}

.front{
    color: white;
    display: flex;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 8px;
    width: 60%;
    justify-content: center;
    align-items: center;
}

ul{
    width: 40%;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: right;
} 

li{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: red;
    /* transition: 0.5s ease; */
}