.secondpage {
    background-color: white;
    height: 140vh;
    margin-top: 15vh;
}

.secondheading {
    font-size: 30px;
    font-weight: 500;
    padding-top: 30px;
    margin-left: 50px;
}

.second_my {
    font-size: 20px;
    margin: 50px 40px 0px 40px;
}

.second_subhead {
    margin: 50px 0px 0px 100px;
    font-size: 23px;
    font-weight: 800;
}

.slang_cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.slang_cont .s_name {
    cursor: pointer;
    min-width: 70px;
    height: 50px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.slang_cont .s_name:hover {
    background-color: red;
    transition: 0.5s ease;
}

.s_headcertificates {
    margin: 70px 0px 20px 100px;
    font-size: 23px;
    font-weight: 800;

}

.certificatesarrow {
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.s_certificatescont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}


.s_certificate {
    margin-top: 30px;
}

.s_certificate img {
    cursor: pointer;
    height: 200px;
    width: 350px;
    margin: 0px 30px 0px 30px;
}

.certificates_section{
    margin-top: 80px;
}

.certificates_section h2{
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 28px;
}

.certificate_card img{
  width: 100%;
  height: 250px;
}