.secondpage {
    background-color: white;
    height: 140vh;
    margin-top: 15vh;
}

.secondheading {
    font-size: 50px;
    font-weight: 400;
    font-family: "luckiest Guy";
    padding-top: 30px;
    letter-spacing: 3px;
    margin-left: 50px;
}

.second_my {
    font-size: 20px;
    font-family: "Open Sans";
    margin: 50px 40px 0px 40px;
}

.second_subhead {
    margin: 50px 0px 0px 100px;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 3px;
    font-family: "luckiest Guy";
}

.slang_cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    font-family: "Open Sans";
}

.slang_cont .s_name {
    cursor: pointer;
    min-width: 70px;
    height: 50px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.slang_cont .s_name:hover {
    background-color: red;
    transition: 0.5s ease;
}

.certificates_section{
    margin-top: 80px;
}

.certificates_section h2{
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 38px;
    font-family: "Luckiest Guy";
    letter-spacing: 2px;
}

.certificate_card img{
  width: 100%;
  height: 250px;
}