.projects_container{
    height: 90vh;

}

.projects_container h2 {
    padding: 50px 100px;
    font-size: 30px;
    font-weight: 900;

}

.slick-slide > div {
  margin: 0 15px;
}

.project_card{
    height: 320px;
    background-color: rgb(185, 185, 185);
    border-radius: 50px;
}

.project_card h3{
    height: 150px;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;

}

.project_card p{
    height: 100px;
    padding: 0px 20px;
    
}

.project_card a {
  text-decoration: none;
}


button{
    all: unset;
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    margin-left: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: red;
}

.slick-slider {
  padding-bottom: 30px;
}

.slick-dots li button:hover:before {
  background-color: rgb(185, 185, 185);
}